<h1>Hello, Caitlin!</h1>
<h2>Tacos:</h2>
<p>There are so many tacos!</p>

<%tacos = ["Carnitas", "Avocado", "Fish"]%>
<p>
There are so many tacos: <%=tacos.length%>
<p>

<ul>
<li>Carnitas</li>
<li>Avocado</li>
<li>Fish</li>